# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
**/android/.gradle/
**/android/local.properties
**/android/app/debug/
**/android/app/profile/
**/android/app/release/

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/ephemeral/

# macOS
.DS_Store

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log